.aboutIntro{
    padding-top: s(175);
    padding-bottom: s(150);
    border-bottom: 1px solid color(black);

    &__inside{
        display: flex;
        justify-content: space-between;
    }

    &__title{
        width: col(6.5,12);
        max-width: s(685);
        margin-left: gutter(12);

        @extend .title100;
    }

    &__content{
        margin-top: s(15);
        width: col(4,12);
        margin-right: colGut(1,1,12,0);
    }

    &__text{
        margin-bottom: s(50);

        @extend .body;
        @extend .body18;
    }
}