.aboutIntro{
    padding-top: s(175);
    padding-bottom: s(150+1);
    position: relative;
    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: color(dark);

        opacity: 0;
        //transform: scaleX(0.01);
        transition: 500ms opacity easing(ease-out-quad) 1200ms, 500ms transform easing(ease-out-quad) 1200ms;
    }

    &.in-view{
        &:before{
            opacity: 1;
            transform: scaleX(1);
        }
    }

    &__inside{
        display: flex;
    }

    &__title{
        @extend .title100;

        width: col(7,12);
        margin-left: gutter(12);
    }

    &__content{
        margin-top: s(15);
        width: col(4,12);
    }

    &__text{
        @extend .body;
        @extend .body18;

        margin-bottom: s(50);
    }
    
    @media screen and (max-width: 1100px) {
        padding-bottom: s(100);

        &__inside{
            display: flex;
            justify-content: space-between;
        }
        &__title{
            margin-left: 0;

        }

    }   

    @media screen and (max-width: 800px) {
        &__inside{
            flex-wrap: wrap;
        }

        &__text{
            margin-top: s(50);
            max-width: s(550);
        }

        &__title{
            max-width: s(650);
        }
        &__content,
        &__title{
            width: 100%;
        }
    }
    @media screen and (max-width: 600px) {
        padding-top: s(167);
        padding-bottom: s(50);


        &__title{
            font-size: s(50);
            margin-bottom: s(40);
            max-width: 100%;
            margin-right: 0;
        }

        &__text{
            margin-top: 0;
            margin-bottom: s(90);
        }

        &__content{
            margin-top: 0;
            .btn{
                display: block;
                margin: 0 auto;
            }
        }
    }
}