.caseCard{
    width: s(625);
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__image{
        width: 100%;
        padding-top: s(500);
        height: 0;
        position: relative;
        margin-bottom: s(16);

        &:after{
            //@extend .photoNoise;
        }

        img{
            width: 100%;
            height: 100%;
            @include cover();
            object-fit: cover;
        }
    }

    &__videoContainer{
        width: 100%;
        padding-top: s(500);
        height: 0;
        position: relative;
        margin-bottom: s(16);

        &:after{
            //@extend .photoNoise;
        }
    }

    &__videoContainer,
    &__image{
        clip-path: circle(100%);
        transition: 200ms clip-path linear 0ms;
    }

    &__videoContainer{
        transition: 200ms clip-path linear 200ms;
    }

    &__link{
        @include cover();
        text-indent: -9999px;
        z-index: 2;

        &:focus,
        &:hover{
            & + .caseCard__image,
            & + .caseCard__videoContainer{
                clip-path: circle(44%);
                transition: 500ms clip-path linear 0ms;
            }
        }
    }

    &__videoPoster{
        z-index: 1;
        opacity: 1;
        visibility: visible;
        transition: 200ms opacity easing(ease-out-quad), 0ms visibility linear 0ms ;
        .caseCard--playing &{
            opacity: 0;
            visibility: hidden;
            transition: 200ms opacity easing(ease-out-quad) 500ms, 0ms visibility linear 200ms + 500ms ;
        }
    }

    &__videoPoster,
    &__video{
        width: 100%;
        height: 100%;
        @include cover();
        object-fit: cover;
    }

    &__video{
        width: 100%/625*500;
        margin: 0 auto;
    }

    &__categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        justify-self: flex-end;
        margin-left: auto;
    }

    &__categories,
    &__title{
        max-width: 50%;
    }

    &__title,
    &__category{
        @extend .body18;
    }

    &__category{
        opacity: 0.4;
        mix-blend-mode: plus-darker;
        display: flex;

        & + &{
            &:before{
                content: '/';
                margin-left: 6px;
                margin-right: 6px;

            }
        }
    }
}