.caseCard{
    width: s(625);
    max-width: col(6,12);
    display: flex;
    flex-wrap: wrap;
    position: relative;

    opacity: 0;
    transform: translate3d(0, 80px, 0);
    transition: 500ms opacity linear, 500ms transform easing(ease-out-quad);

    @media screen and (max-width: s(600)) {
        transform: translate3d(0, 40px, 0);

    }
    .no-js,
    .fadeTransitionEntered &,
    &--inview{
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition: 500ms opacity easing(ease-out-cubic), 500ms transform easing(ease-out-quad);

    }

    &__image{
        width: 100%;
        padding-top: 500/626*100%;
        height: 0;
        position: relative;
        margin-bottom: s(16);


        img{
            width: 100%;
            height: 100%;
            @include cover();
            object-fit: cover;
        }

        &:before{
            z-index: 2;
            @extend .photoNoise;
        }
    }

    &__videoContainer{
        width: 100%;
        padding-top: 500/626*100%;
        height: 0;
        position: relative;
        margin-bottom: s(16);

        &:after{
            //@extend .photoNoise;
        }
    }

    &__videoContainer,
    &__image{
        @media screen and (any-pointer: fine){
            clip-path: circle(100%);
            transition: 300ms clip-path easing(ease-in-quad) 0ms;
        }

    }

    &__videoContainer{
        transition: 300ms clip-path easing(ease-in-quad) 200ms;
        &:before{
            z-index: 2;
            @extend .photoNoise;
        }
    }

    &__link{
        @include cover();
        text-indent: -9999px;
        z-index: 2;
        &:focus,
        &:hover{
            & + .caseCard__image,
            & + .caseCard__videoContainer{
                @media screen and (any-pointer: fine){
                    clip-path: circle(44%);
                    transition: 400ms clip-path easing(ease-out-quad) 0ms;
                }

            }
        }
    }

    &__videoPoster{
        z-index: 1;
        opacity: 1;
        visibility: visible;
        transition: 200ms opacity easing(ease-out-quad), 0ms visibility linear 0ms ;
        .caseCard--playing &{
            opacity: 0;
            visibility: hidden;
            transition: 200ms opacity easing(ease-out-quad) 400ms, 0ms visibility linear 200ms + 400ms ;
        }
    }

    &__videoPoster,
    &__video{
        width: 100%;
        height: 100%;
        @include cover();
        object-fit: cover;
    }

    &__video{
        width: 100%;
        max-width: s(500);
        margin: 0 auto;
    }

    &__categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        justify-self: flex-end;
        margin-left: auto;
        margin-top: s(8);
    }

    &__categories,
    &__title{
        max-width: 50%;
    }

    &__title{
        @extend .body18;
    }

    &__category{
        @extend .tag-underline;
    }
    @media screen and (max-width: 1100px) and (min-width: 701px){ 
        &__categories,
        &__title{
            width: 100%;
            max-width: 100%;
        }

        &__categories{
            justify-content: flex-start;
        }

        &__category{
            & + &{
                margin-left: 0;
            }
            margin-right: s(15);
        }

        &__link{
            &:focus,
            &:hover{
                & + .caseCard__image,
                & + .caseCard__videoContainer{
                   // clip-path: circle(40%);
                }
            }
        }
    }

    @media screen and (max-width: 700px){ 

        width: 100%;
        max-width: 100%;
        &__image{
            margin-bottom: s(11);
        }

        &__title{
            font-size: s(16);
        }

        &__categories{
            margin-top: s(3);
        }
    }

    
}