.caseAccordion{
    width: 100%;
    
    &__item{
        position: relative;
        &:last-child{
            &:after{
                content: '';
                pointer-events: none;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 1px;
                background-color: color(sand);
                z-index: 10;
                pointer-events: none;
            }
        }

        &:hover{
            .caseAccordion__image{
                opacity: 1;
            }

            .caseAccordion__itemArrow{
                opacity: 1;
            }
        }
    }

    &__itemContainer{
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: color(sand);
            z-index: 10;
            pointer-events: none;
        }
    }

    &__itemContent{
        padding: s(36) 0;
        background-color: transparent;
        transition: 100ms background-color easing(ease-out-quad);
    }

    &__itemInside{
        display: flex;
        align-items: center;
        position: relative;
        z-index: 9;
    }

    &__itemLink{
        @include cover();
        text-indent: -9999px;
        display: inline-block;
        z-index: 10;
    }

    &__categoryList{
        display: flex;
        flex-wrap: wrap;
        width: col(6,12);
        gap: s(20);
    }

    &__categoryItem{
        font-family: Cambon, serif;
        font-size: s(9);
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: color(sand);
        position: relative;
        transition: 200ms color easing(ease-out-quad);
        padding: s(6) 0;
        margin-bottom: s(5);
        margin-top: s(5);

        &:before{
            content: '';
            position: absolute;
            bottom: s(0);
            left: 0;
            right: 0;
            height: 1px;
            background-color: color(sand);
            transition: 200ms background-color easing(ease-out-quad);
            z-index: 5;
        }
    }

    &__itemTitle{
        color: color(sand);
        width: col(5,12);
        margin-right: gutter(12);
        font-family: dm, sans-serif;
        font-size: s(30);
        transition: 200ms color easing(ease-out-quad);
    }

    &__image{
        opacity: 0;
        position: fixed;
        right: 50vw;
        top: 50vh;
        width: s(545);
        height: s(545);
        border-radius: s(545);
        margin-top: s(-545/2);
        margin-right: s(-20);
        opacity: 0;
        pointer-events: none;
        z-index: 3;
        display: none;
        @media screen and (any-pointers: fine) {
            display: block;
        }

        //top: 0;
        //transform: translate3d(0,var(--y,50vh),0);
        //transition: 1000ms transform easing(ease-out-quad);

        video,
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 100%;
            opacity: 0.5;
        }

        &:before{
            @extend .photoNoise;
            border-radius: 100%;
        }

    }
    
    &__itemArrow{
        justify-self: flex-end;
        margin-left: auto;
        opacity: 0;
        transition: 200ms opacity easing(ease-out-quad);
    }

    // purpose
    &--commitments{
        background-color: color(dark);
        .caseAccordion__itemArrow{
            margin-left: s(81);
        }
        
    }

    .serviceProjects--light &{
        &__item{
            &:last-child{
                border-bottom: 1px solid color(dark);
            }
        }
        &__itemContainer{
            border-top: 1px solid color(dark);
        }

        &__itemTitle{
            color: color(dark);
        }

        &__categoryItem{
            color: color(dark);
            &:before{
                background: color(dark);
            }
        }
    
    }

    &__purpose{
        display: block;
        border-radius: s(25);
        width: s(25);
        height: s(25);
        text-indent: -9999px;
        justify-self: flex-end;
        margin-left: auto;

        &--mojo-impact{
            background-color: #FF542E;
        }

        &--mojo-for-good{
            background-color: #1C6ECF;
        }

        &--solidarity-days{
            background-color: #FFC833;
        }
    }

    @media screen and (max-width: 600px) {
        &__categoryList{
            display: none;
        }

        &__itemContent{
            padding-top: s(26);
            padding-bottom: s(27);
        }

        &__itemTitle{
            width: 100%;
            font-size: s(22);
            line-height: s(30);
            flex-shrink: 1000;
        }

        &__itemLink:hover{
            & + .caseAccordion__itemContent{
                background-color: color(white);
                .caseAccordion__itemTitle{
                    color: color(black);
                }

                .caseAccordion__itemArrow{
                    path{
                        fill: black;
                    }
                }
            }
        }
    }
}
