.casesServices{
    overflow: hidden;
    margin-top: s(88);
    padding-bottom: s(123);

    &__inside{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title{
        @extend .title80;
        width: col(7,12);
        justify-content: flex-start;
    }

    &__text{
        @extend .body18;
        width: col(4,12);
        justify-content: flex-start;
        margin-top: s(30);
    }

    &__grid{
        margin-top: s(110);
        margin-bottom: s(60);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        @media (any-pointer: fine) {
            .serviceCard{
                transform: translate3d(0, 0, 0);
                transition: 200ms transform easing(ease-out-quad);
                &:hover{
                    transform: translate3d(0, -30px, 0);
                }
            }
        }
    }
    @media screen and (min-width: 1101px) {
        &__grid{

            .serviceCard{
                
                margin-left: gutter(12);
                &:nth-child(4n+1){
                    margin-left: 0;
                }
    
                &:nth-child(1n+5){
                    margin-top: s(32);
                }
            }
        }

    }

    @media screen and (max-width: 1100px) and (min-width: 801px){

        &__grid{

            .serviceCard{
                margin-left: gutter(12);
                &:nth-child(3n+1){
                    margin-left: 0;
                }
    
                &:nth-child(1n+4){
                    margin-top: s(32);
                }
            }
        }
    }

    @media screen and (max-width: 1100px) {
        &__inside{
            justify-content: space-between;
            align-items: center;
        }

        &__title{
            font-size: s(67.5);
            br{
                display: none;
            }
        }

        &__text{
            width: col(5,12);
        }
    }

    @media screen and (max-width: 800px)  and (min-width: 601px) {

        &__grid{

            justify-content: center;

            .serviceCard{
                margin-left: gutter(12);
                &:nth-child(2n+1){
                    margin-left: 0;
                }
    
                &:nth-child(1n+3){
                    margin-top: s(32);
                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        &__title{
            width: 100%;
        }

        &__text{
            width: 100%;
            max-width: s(500);
        }

        &__grid{
            margin-top: s(80);
        }
    }

    @media screen and (max-width: 600px) {
        padding-bottom: s(140);
        padding-bottom: s(50);

        &__title{
            font-size: s(50);
        }

        &__text{
            margin-top: s(40);
        }

        &__button{
            display: none;
        }

        &__gridContainer{
            width: 100vw;
            margin-left: s(-15);
            padding-left: s(15);
        }

        
        &__grid{
            margin-bottom: 0;
            display: flex;
            flex-wrap: inherit;
            justify-content: inherit;
            width: 100%;

            .serviceCard{
                &.swiper-slide-next{
                    //transform: translate3d(0,-15px,0) rotate(2deg);
                }
            }

        }
    }




    
}