.casesGrid{
    padding-top: s(175);
    min-height: 100vh;
    // /overflow: hidden;

    &__title{
        max-width: s(695+20);
        color: color(dark);
        @extend .title100;
        margin-bottom: s(110);

    }

    &__filters{
        display: flex;
        padding-bottom: s(36);
        position: relative;
        

        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: -9999px;
            right: -9999px;
            height: 1px;
            background-color: color(dark);
        }
    }

    &__seeAll,
    &__filterLink{
    }

    &__form{
        display: flex;
        align-items: center;
        padding-bottom: s(18);
        position: relative;
        
        &:after{ 
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -50vw;
            width: 100vw;
            height: 1px;
            background-color: color(dark);
        }
        html.js & button{
            display: none;
        }
        opacity: 0;
        visibility: hidden;
        transition: 500ms opacity easing(ease-out-quad), 0ms visibility linear 200ms;

        .fadeTransitionEntered &,
        .no-js &,
        &--inview{
            opacity: 1;
            visibility: visible;
            transition: 500ms opacity easing(ease-out-quad), 0ms visibility linear 0ms;
        }
    }

    &__filterReset{
        text-decoration: none;
    }
    &__filter{
        margin-left: s(37);
        display: flex;
        align-items: flex-end;   
        position: relative;
    }

    &__filterReset,
    &__filterLabel{
        overflow: hidden;
        color: color(dark);
        font-family: Cambon, sans-serif;
        font-size: s(22);
        font-style: normal;
        font-weight: 600;
        line-height: em(23,22); /* 104.545% */
        text-decoration-line: none;
        padding-bottom: s(18);
        display: flex;
        align-items: flex-end;

        &:hover,
        &:focus{
            text-decoration: underline;
        }
    }

    &__filterStar{
        margin-left: s(10);
        transform: rotate(0);
        will-change: transform;
        transition: 200ms transform easing(ease-out-quad);

        .casesGrid__filter:hover &,
        .casesGrid__filter:focus &{
            transform: rotate(90deg);
        }
    }

    &__filterStarDiag{
        transform: rotate(0) scale(1);
        will-change: transform;
        transform-origin: center center;
        transition: 200ms transform easing(ease-out-quad);


        .casesGrid__filter:hover &,
        .casesGrid__filter:focus &{
            transform: scale(0.1);
        }
    }

    &__filterSelect{
        //position: absolute;
        //left: -9999px;
        //top: 0;
        -webkit-appearance: none;
        display: none;
        
        position: absolute;
        //bottom: 300%;
        left: -9999px;
        top: 0;

        .no-js &{
            display: block;
            position: relative;
            left: 0;
        }
    }


    &__dropDown{
        position: absolute;
        top: 100%;
        left: 0;
        width: s(293);
        opacity: 0;
        visibility: hidden;
        will-change: opacity, transform;
        transition: 200ms opacity easing(ease-out-quad), 0ms visibility easing(ease-out-quad) 200ms;

        border-radius: s(10);
        border: 1px solid color(black);
        background: color(sand);
        padding: s(20);
        z-index: 5;

        .casesGrid__filter:hover &,
        .casesGrid__filter:focus &{
            opacity: 1;
            visibility: visible;
            transition: 200ms opacity easing(ease-out-quad), 0ms visibility easing(ease-out-quad) 0ms;
        }
    }

    &__dropDownLink{
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        @extend .body16;
        color: color(dark);

        &+&{
            margin-top: s(16);
        }

        &--active,
        &:hover{
            .casesGrid__dropDownName{
                text-decoration: underline;
            }

            .casesGrid__dropDownCount{
                opacity: 1;
            }
        }
    }

    &__dropDownCount{
        opacity: 0.5;
        transition: 200ms opacity easing(ease-out-quad);
    }

    &__noItem{
        margin-top: s(50);

    }

    &__noItemTitle{
        @extend .body18serif;
        font-size: 36px;
    }

    &__noItemText{
        @extend .body18;
    }


    &__grid{
        margin-top: s(50);
        display: flex;
        flex-wrap: wrap;
        padding-bottom: s(150);
        position: relative;
        align-items: flex-start;
        // /overflow: hidden;

        .caseCard{
            margin-left: gutter(12);

            &:nth-child(2n + 1){
                margin-left: 0;
            }

            &:nth-child(1n + 3){
                margin-top: s(20)
            }
        }

        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: -9999px;
            right: -9999px;
            height: 1px;
            background-color: color(dark);
        }
    }

    @media screen and (max-width: 800px) {
        overflow: hidden;

        &__dropDown{

            left: 0;
            transform: translate3d(-25%, 0, 0);
        }
    }

    @media screen and (max-width: 600px) {
        padding-top: s(157);
        

        .caseCard{
            margin-left: 0;
            margin-bottom: s(20);
            &:nth-child(1n+3){
                margin-top: 0;
            }
        }
        &__title{
            font-size: s(50);
            margin-bottom: s(159);
        }
        
        &__form{
            flex-wrap: wrap;
            padding-bottom: 0;
            margin-left: s(-15);
            width: 100vw;
            transform: translate3d(0,0,0);
            z-index: 1;
            opacity: 1;
            visibility: visible;
        }

        &__filter{
            margin-left: 0;
            flex-grow: 5;

            &:nth-child(4){
                .casesGrid__filterLabel{
                    border-left: none;
                }
            }
        }

        &__filterReset,
        &__filterLabel{
            border-top: 1px solid color(dark);
            padding: s(20);
            font-size: s(18);
            
        }

        &__filterReset{
            background-color: color(sand);
            color: color(dark);
            
            &--active{
                background-color: color(dark);
                color: color(sand);
            }

        }

        &__filterLabel{
            border-left: 1px solid color(dark);
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;

            background-color: color(sand);
            color: color(dark);
            
            .casesGrid__filter--active &{
                background-color: color(dark);
                color: color(sand);
                .casesGrid__filterStar path{
                    fill: color(sand);
                }
            }

            &:hover,
            &:focus{
                text-decoration: none;
            }

        }

        &__dropDown{
            position: fixed;
            top: initial;
            left: 50vw;
            transform: translate3d(-50%,calc(100% + 20px),0);
        }
    }

}