.clientIntro{
    position: relative;
    overflow: hidden;

    .no-js &{
        padding-top: 100vh;
    }

    &__circles{
        position: fixed;
        .no-js &{
            position: absolute;
        }
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        max-height: 100vh;
        z-index: 1;
        background-color: color(sand);
        overflow: hidden;

        #circle1{
            transform: translate3d(-50%,0,0);
        }
        #circle2{
            transform: translate3d(50%,0,0);
        }


        @media screen and (max-width: 800px) {

            #circle1{
                transform: translate3d(-37.5%,0,0);
            }
            #circle2{
                transform: translate3d(37.5%,0,0);
            }

        }


    }

    &__container{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
    }

    &__svg{
        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        height: auto;
        top: 50%;
        margin-top: 552/1440/2 * -100vw;

        @media screen and (max-width: 800px) {
            left: -25vw;
            right: -25vw;
            width: 150vw;

            margin-top: 552/1440/2 * -150vw;

        }

        @media screen and (max-width: 800px) {
            left: -50vw;
            right: -50vw;
            width: 200vw;

            margin-top: 552/1440/2 * -200vw;
        }
    }

    &__second{
        position: relative;
        height: 135vw;
        background-color: color(dark);
        //overflow: hidden;
        transform: translate3d(0,0,0);
        @media screen and (max-width: 1024px){
            height: 120vh;
        }

        @media screen and (max-width: 800px){
            height: 167vh;
        }

        @media screen and (max-width: 600px){
            height: 270vw
        }
    }


    &__secondCircle{
        position: absolute;
        width: 552/1440*100%;
        padding-top: 552/1440*100%;
        height: 0;
        top: 50vh;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: s(30000);
        background-color: #784FE0;
        transform: translate3d(0, -50%, 0);
        z-index: 1  ;

        @media screen and (max-width: 800px) {
            width: 552/1440*1.5*100%;
            padding-top: 552/1440*1.5*100%;
        }


        @media screen and (max-width: 600px) {
            width: 552/1440*2*100%;
            padding-top: 552/1440*2*100%;
        }

        &:before,
        &:after{
            content: '';
            position: absolute;
            width: 70/552*100%;
            height: 70/552*100%;

            border-radius: 100%;

        }

        &:after{
            top: 88/552*100%;
            left: -30/552*100%;
            background-color: #784FE0;
        }

        &:before{
            top: 107/552*100%;
            left: -17/552*100%;
            background-color: color(dark);
        }



        @media screen and (max-width: 800px) {
            width: 552/1440*1.5*100%;
        }

        @media screen and (max-width: 600px) {
            width: 552/1440*2*100%;
        }
    }

    &__secondText{
        @extend .title50;
        font-size: 50/1440*100vw;
        max-width: s(452);
        max-width: 452/1440*100vw;
        text-align: center;
        color: color(white);
        position: absolute;
        top: 50%;
        transform: translate3d(0, -45%, 0);

        

        left: 0;
        right: 0;
        margin: 0 auto;

        @media screen and (max-width: 800px) {

            font-size: 50/1440*100vw*1.5;
            max-width: 452/1440*100vw*1.5;
        }

        @media screen and (max-width: 600px) {
            font-size: 50/1440*100vw*2.2;
            max-width: 452/1440*100vw*2;
        }
    }

    &__secondText2{
        @extend .title50;
        color: color(sand);
        position: absolute;
        width: 776/1440*100%;
        top: 50vh;
        left: 0;
        right: 0;
        margin: 800/1440*100% auto 0 auto;
        font-size: 50/1440*100vw;
        text-align: center;

        @media screen and (max-width: 800px) {
            width: 776/1440*100%*1.5;
            top: 50vh;
            left: 0;
            right: 0;
            margin: 800/1440*100%*1.5 auto 0 auto;
            font-size: 50/1440*100vw*1.5;
        }

        @media screen and (max-width: 600px) {
            width: 80vw;

            margin: 330px auto 0 auto;
            font-size: 35px
        }
    }


    &__secondBg{
        pointer-events: none;
        opacity: 0.2;
        position: absolute;
        left: 50%;
        top: 50vh;
        width: 2980/1440*100%;
        height: 2980/1440*100%;
        transform: translate3d(-50%, -50%, 0);

        @media screen and (max-width: 800px) {
            width: 2980/1440*100% * 1.5;
            height: 2980/1440*100% * 1.5;
        }
    }


}

