.commitmentsEarth{
    padding: s(200) 0;
    background-color: color(dark);
    position: relative;
    overflow: hidden;

    &__svg{
        position: absolute;
        top: s(0);
        left: 50%;
        width: s(1398);
        margin-left: s(-1398/2);

        width: 90%;
        margin-left: -45%;
        height: auto;

    }

    &__planets{
        width: 100vw;
        display: flex;
        margin-bottom: s(186);
        position: relative;
        z-index: 1;
    }

    &__planetTitle{
        width: 75%;
        color: color(sand);
        text-align: center;
        font-family: Cambon, serif;
        font-size: s(80);
        line-height: 1em;
        font-size: 5.5vw;
    }

    &__planet{
        width: 50%;
        background-color: color(black);
        border-radius: 100%;
        overflow: hidden;

        &--left,
        &--right{
            img{
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        &--left{
            margin-left: -25%;
        }
        &--right{
            margin-right: -25%;
        }

        &--main{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__inside{
        display: flex;
        padding: 0 colGut(2,1,12,0);
        justify-content: space-between;
    }

    &__text{
        width: col(4,8);
        @extend .body;
        @extend .body18;
        color: color(sand);
    }

    @media screen and (max-width: 600px) {
        padding: s(40) 0 s(125);

        &__planets{
            flex-direction: column;
            width: calc(100vw - 30px);
            margin: 0 auto;
            margin-bottom: s(20);
        }

        &__planetTitle{
            font-size: s(35);
        }
        &__planet{
            width: 100%;

            &--left{
                margin-left: 0;
            }

            &--main{
                height: calc(100vw - 30px);
                display: flex;
                align-items: center;
            }

            &--right{
                display: none;
            }
        }

        &__inside{
            flex-direction: column;
            padding: 0;
        }

        &__text{
            width: 100%;
            & + &{
                margin-top: s(40);
            }
        }
    }
}