.cursor{
    display: none;

    &__bg{
        position: fixed;
        left: 0;
        top: 0;
        width: s(360);
        height: s(360);
        margin-top: s(-360/2);
        margin-left: s(-360/2);
        z-index: 600;
        border-radius: 100%;
        background-color: color(yellow);
        mix-blend-mode: darken;
        opacity: 1;

        will-change: opacity, color, transform;
        //transform: matrix(#{(3.6 / 360)}, 0,0, #{(3.6 / 360)}, var(--x,50vw), var(--y,50vh));
        //transform: translate3d(var(--x,50vw),var(--y,50vh),0) scale(0.1);

        $scale: 3.6 / 360;

        transform: matrix3d(
            $scale, 0, 0, 0,
            0, $scale, 0, 0,
            0, 0, 1, 0,
            var(--x,50vw), var(--y,50vh), 0, 1
        );
        transform-origin: center center;
        pointer-events: none;
        user-select: none;


        &--screen{
            opacity: 0;
            mix-blend-mode: screen;
        }

        &--multiply{
            opacity: 0;
            mix-blend-mode: multiply;
        }

        &--lighten{
            opacity: 0;
            mix-blend-mode: lighten;
        }
    }


    &--active{
        display: block;
        .cursor__bg{
            //transform: translate3d(var(--x,50vw),var(--y,50vh),0) scale(1);
            //transform: matrix(#{(36 / 360)}, 0,0, #{(36 / 360)}, var(--x,50vw), var(--y,50vh));

            $scale : 36 / 360;

            transform: matrix3d(
            $scale, 0, 0, 0,
            0, $scale, 0, 0,
            0, 0, 1, 0,
            var(--x,50vw), var(--y,50vh), 0, 1
            );
            transition: opacity 400ms easing(ease-out-quint),
                        transform 400ms easing(ease-out-quint), 
                        background-color 400ms easing(ease-out-quint);
        }
    }

    &--focused{
        @extend .cursor--medium;
    }

    &--light{
        .cursor__bg{
            background-color: color(yellow);
            opacity: 0;
        }

        .cursor__bg--multiply{
            opacity: 1;
        }
    }

    &--dark{
        .cursor__bg{
            background-color: color(blue);
            opacity: 0;
        }
        .cursor__bg--lighten{
            opacity: 1;
        }
    }

    &--menu{
        .cursor__bg{
            background-color: color(orange);
        }
    }

    &--menuItem{
        @extend .cursor--big;

        .cursor__bg{
            background-color: color(orange);
            opacity: 0;
        }

        .cursor__bg--screen{
            opacity: 1;
        }
    }

    &--menu.cursor--focused{
        .cursor__bg{
            opacity: 0;
        }

        .cursor__bg--screen{
            opacity: 1;
        }
    }

    &--service{
        @extend .cursor--big;
        .cursor__bg{ 
            opacity: 0;
        }

        .cursor__bg--screen{
            opacity: 1;
        }

        
        &:not(.cursor--dark){
            .cursor__bg{ 
                opacity: 0;
            }
    
            .cursor__bg--screen{
                opacity: 0;
            }

            .cursor__bg--multiply{
                opacity: 1;
            }
        }
        
    }


    &--below{
        .cursor__bg{ 
            z-index: 10;
            background-color: color(blue);
            opacity: 1;
            mix-blend-mode: normal;
        }
        .cursor__bg--lighten{
        }
    }


    &--hidden{
        .cursor__bg{
            opacity: 0;
        }
    }

    &--medium{
        .cursor__bg{
            // matrix(${scale}, 0,0, ${scale}, ${x}, ${y})
            //transform: matrix(#{(72 / 360)}, 0,0, #{(72 / 360)}, var(--x,50vw), var(--y,50vh));
            //transform: translate3d(var(--x,50vw),var(--y,50vh),0) scale(#{(72 / 360)});

            $scale : 72 / 360;
            transform: matrix3d(
                $scale, 0, 0, 0,
                0, $scale, 0, 0,
                0, 0, 1, 0,
                var(--x,50vw), var(--y,50vh), 0, 1
            );
        }
    }
    &--big{
        .cursor__bg{
            //transform: translate3d(var(--x,50vw),var(--y,50vh),0) scale(#{(147 / 360)});
            //transform: matrix(#{(147 / 360)}, 0,0, #{(147 / 360)}, var(--x,50vw), var(--y,50vh));

            $scale : 147 / 360;
            transform: matrix3d(
                $scale, 0, 0, 0,
                0, $scale, 0, 0,
                0, 0, 1, 0,
                var(--x,50vw), var(--y,50vh), 0, 1
            );
        }
    }

    &--huge{
        .cursor__bg{
            //transform: matrix(#{(266 / 360)}, 0,0, #{(266 / 360)}, var(--x,50vw), var(--y,50vh));
            //transform: translate3d(var(--x,50vw),var(--y,50vh),0) scale(#{(266 / 360)});

            $scale : 266 / 360;
            transform: matrix3d(
                $scale, 0, 0, 0,
                0, $scale, 0, 0,
                0, 0, 1, 0,
                var(--x,50vw), var(--y,50vh), 0, 1
            );
        }
    }

    &--offScreen {
        .cursor__bg{
            opacity: 0 !important;
            //transform: matrix(#{(1 / 360)}, 0,0, #{(1 / 360)}, var(--x,50vw), var(--y,50vh)) !important;
            //transform: translate3d(var(--x,50vw),var(--y,50vh),0) scale(#{(1 / 360)}) !important;
            $scale : 1 / 360;
            transform: matrix3d(
                $scale, 0, 0, 0,
                0, $scale, 0, 0,
                0, 0, 1, 0,
                var(--x,50vw), var(--y,50vh), 0, 1
            );
        }
    }

    @media (any-pointer: coarse) {
        display: none !important;
    }
}