.cursor{
    display: none;
    //transform: translate3d(var(--x,50vw),var(--y,50vh),0);

    /*
    position: fixed;
    left: 0;
    top: 0;
    width: s(35);
    height: s(35);
    margin-top: s(-35/2);
    margin-left: s(-35/2);
    
    will-change: transform;
    z-index: 600;
    user-select: none;
    pointer-events: none;
    */


    &__bg{
        position: fixed;
        left: 0;
        top: 0;
        width: s(35);
        height: s(35);
        margin-top: s(-35/2);
        margin-left: s(-35/2);
        z-index: 600;
        border-radius: 100%;
        background-color: color(yellow);
        opacity: 1;
        //mix-blend-mode: color;

        will-change: opacity, color, transform;
        transform: translate3d(var(--x,50vw),var(--y,50vh),0) scale(1);
        transition: opacity 400ms easing(ease-out-quint),transform 400ms easing(ease-out-quint), background-color 400ms easing(ease-out-quint);
        transform-origin: center center;
        pointer-events: none;
        user-select: none;


        &--mix{
            opacity: 0;
            mix-blend-mode: screen;
            background-color: color(orange);
        }
    }

    &--light{
        .cursor__bg{
            background-color: color(yellow);
        }
    }

    &--dark{
        .cursor__bg{
            background-color: color(blue);
        }
    }

    &--service{
        .cursor__bg{ 
            opacity: 0;
            transform: translate3d(var(--x,50vw),var(--y,50vh),0) scale(#{(147 / 35)});

            &--mix{
                opacity: 1;
            }
        }
    }
    
    /*
    &--service{
        .cursor__bg{ 
            opacity: 0;
            transform: scale( #{(147 / 35)} );

            &--mix{
                opacity: 0.2;
            }
        }
    }
    */


    &--hidden{
        .cursor__bg{
            opacity: 0;
        }
    }
    &--big{
        .cursor__bg{
            transform: scale( #{(147 / 35)} );
        }
    }

    &--huge{
        .cursor__bg{
            transform: scale(#{266/35});
        }
    }

    &--off-screen {
        opacity: 0;
    }

    &--initialized {
        display: block;
    }
}