.cursor{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: s(35);
    height: s(35);
    margin-top: s(-35/2);
    margin-left: s(-35/2);
    transform: translate3d(50vw,50vh,0);
    will-change: transform;
    z-index: 600;
    user-select: none;
    pointer-events: none;
    transition: opacity .4s easing(ease-out-quint),transform .4s easing(ease-out-quint);


    &__bg{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 100%;
        background-color: color(yellow);
        opacity: 1;
        transform: scale(1);
        transform-origin: center center;
        will-change: opacity, color, transform;
        transition: 200ms opacity easing(ease-out-quad), 200ms background-color easing(ease-out-quad), 200ms transform easing(ease-out-quad);

        &--mix{
            opacity: 0;
            mix-blend-mode: screen;
            background-color: color(orange);
        }
    }

    &--light{
        .cursor__bg{
            background-color: color(yellow);
        }
    }

    &--dark{
        .cursor__bg{
            background-color: color(blue);
        }
    }


    
    &--service{
        .cursor__bg{ 
            opacity: 0;
            transform: scale( #{(147 / 35)} );

            &--mix{
                opacity: 0.2;
            }
        }
    }

    &--hidden{
        .cursor__bg{
            opacity: 0;
        }
    }
    &--big{
        .cursor__bg{
            transform: scale( #{(147 / 35)} );
        }
    }

    &--huge{
        .cursor__bg{
            transform: scale(#{266/35});
        }
    }

    &--off-screen {
        opacity: 0;
    }

    &--initialized {
        display: block;
    }
}