.featuredCases{

    &__inside{
        display: flex;
        align-items: stretch;
    }

    &__left{
        width: colGut(6,1,12,0);
        border-right: 1px solid color(black);
    }

    &__subtitle{
        @extend .subtitle;

        position: relative;
        color: color(dark);
        padding: s(33) 0 s(27) 0;

        &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: -9999px;
            border-bottom: 1px solid color(black);
        }
    }

    &__title{
        @extend .title80;

        margin-top: s(57);
        width: colGut(6,0,6,1);
        margin-bottom: s(40);
        color: color(dark);

    }

    &__text{
        @extend .body18;

        width: colGut(5,0,6,1);
        color: color(dark);
        margin-bottom: s(71);
    }

    &__gallery{
        width: colGut(6,0,6,1);
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    &__galleryItem{
        width: colGut(3,0,6,0);
        margin-bottom: gutter(6);
        position: relative;

        .featuredCases__galleryItemFigure{
            width: 100%;
            padding-top: 260/294*100%;
        }

        .featuredCases__gallery--hovered &{
            opacity: 0.2 !important;
            transition: 500ms opacity easing(ease-out-quad) !important;

            &--active,
            &:hover,
            &:focus{
                opacity: 1 !important;
            }
        }

        &--big{
            width: 100%;
            margin-bottom: gutter(6);
            .featuredCases__galleryItemFigure{
                width: 100%;
                padding-top: 350/625*100%;
            }
        }

        img{
            @extend %cover;            
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        //&--active,
        @media screen and (any-pointer: fine){
            &:hover,
            &:focus{
                .featuredCases__galleryItemHover{
                    opacity: 1;
                }
            }
        }
    }


    &__galleryItemFigure{
        position: relative;
        &:before{
            z-index: 2;
            @extend .photoNoise;
        }
    }

    &__galleryItemContent{
        display: none;
    }

    &__galleryItemCategory{
        @extend .tag-underline;

        color: color(dark);
    }


    &__galleryItemHover{
        @extend %cover;
        background-color: color(dark);

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;
        transition: 200ms opacity linear;
    }

    &__cases{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-end;
    }

    &__case{
        width: calc(50vw + 16.5px);
        border-bottom: 1px solid black;

        &:first-child{
            border-top: 1px solid black;
        }
    }
    
    &__caseLink{
        @extend .body22;

        display: block;
        position: relative;
        padding: s(28) 0 s(28) calc(50vw - 642.5px);
        color: color(dark);
        text-decoration: none;

        transition: color 200ms easing(ease-out-quad), background-color 200ms easing(ease-out-quad);

        &:after{
            content: '';
            width: s(11);
            height: s(17);
            margin-top: s(-17/2);
            position: absolute;
            top: 50%;
            right: s(35);
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="18" viewBox="0 0 12 18" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.101 8.74008L0.357421 0.00018692C2.85243 8.35947 10.1032 8.72713 11.0083 8.74024C10.1028 8.75335 2.85243 9.12099 0.357516 17.48L11.1011 8.74041C11.1013 8.74041 11.1014 8.7404 11.1014 8.7404L11.1012 8.74028L11.1015 8.74009C11.1015 8.74009 11.1013 8.74008 11.101 8.74008Z" fill="%23FAF6ED"/></svg>');
        }
        
        &:focus,
        &:hover{
            background-color: color(dark);
            color: color(sand);
        }
    }

    &__seeAll{
        width: calc(50vw + 16.5px);
        border-bottom: 1px solid black;
    }

    &__seeAllLink{
        padding-left: calc(50vw - 642.5px);
        text-decoration: none;
        padding-top: s(28);
        padding-bottom: s(28);
        font-family: Cambon, serif;
        display: block;
        transition: color 200ms easing(ease-out-quad), background-color 200ms easing(ease-out-quad);
        background-color: color(grey);
        color: color(dark);
        font-size: s(22);
        font-weight: 600;
        line-height: em(30, 22);
        position: relative;

        svg{
            margin-top: s(-18/2);
            position: absolute;
            top: 50%;
            right: s(35);
            path{
                transition: fill 200ms easing(ease-out-quad);
            }
        }

        &:hover{
            background-color: color(dark);
            color: color(sand);

            svg path{
                fill: color(sand);
            }
        }
    }

    &__right{
        width: colGut(6,0,12,0);
        overflow:visible;
        position: relative;
        margin-left: s(40);
        margin-right: s(-40);
        margin-top: s(57);
        margin-bottom: s(40+250);
    }

    &__videos{
        z-index: 4;
        position: sticky;
        top: s(40);
        width: 100%;
        padding-top: 100%;
        margin-top: -100%;
        pointer-events: none;
    }

    &__starsky{
        position: absolute;
        top: 0;
        bottom: s(40+250) * -1;
        left: s(128);
        width: s(498);
        mix-blend-mode: difference;
        pointer-events: none;
        background-image: url(./../images/starsky.svg);
        background-size: 498px;
    }

    &__videoDescription{
        padding-top: s(50);
        text-align: center;
        width: 100%;
        opacity: 0;
        transition: 100ms opacity linear;

        .featuredCases__video--active &{
            opacity: 1;
        }
    }

    &__videoTitle{
        color: color(dark);

        @extend .title50;

        margin-bottom: s(28);
        display: block;
    }

    &__videoText{
        @extend .body18;
        max-width: s(294);
        width: 100%;
        margin: 0 auto s(30) auto;
    }

    &__videoCategories{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    &__videoCategory{
        @extend .tag-underline;
    }

    &__videoWrapper{
        position: relative;
        width: 100%;
        padding-top:  100%;
        overflow: hidden;
        border-radius: 100%;
        height: 0;
        &:before{
            z-index: 2;
            @extend .photoNoise;
            border-radius: 100%;
        }
    }

    &__video{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        
        video,
        img{
            @extend %cover;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }

        opacity: 0;
        transition: opacity 200ms easing(ease-out-quad) 200ms;

        &--active{
            opacity: 1;
            transition: opacity 200ms easing(ease-out-quad) 0ms;
        }
    }

    &__circle{
        position: sticky;
        top: s(40);
        bottom: s(40);
        width: 100%;
        height: 0;
        padding-top: 100%;
        background-color: color(dark);
        border-radius: 100%;

        svg{
            position: absolute;
            top: 0;
            bottom: s(15);
            left: 0;
            right: s(30);
            margin: auto;
            width: 350/548*100%;
            height: auto;
        }
    }

    @media screen and (max-height: 1000px){
        &__circle{
            width: 80%;
            padding-top: 80%;
            margin-left: 10%;
            top: s(30);
        }
        &__videoTitle{
            margin-left: -5%;
            width: 110%;
            margin-right: -5%;
        }

        &__videoDescription{
            padding-top: s(30);
            position: relative;
            left: -10%;
            width: 120%;
        }

        &__videos{
            width: 80%;
            padding-top: 80%;
            margin-top: -80%;
            margin-left: 10%;
            top: s(30);
        }
    }

    @media screen and (max-width: 1400px){
        &__right{
            width: calc( #{colGut(6,0,12,0)} - 30px);
            margin-left: s(30);
            margin-top: s(30);
        }
    }

    @media screen and (max-width: 1285px){
        &__circle{
            top: s(30);
        }

        &__videoDescription{
            padding-top: s(30);
        }

        &__starsky{
            left: 0;
            right: 0;
            width: 40vw;
        }


        &__seeAll,
        &__case{
            width: calc(100% + 30px);
            margin-left: s(-30);
        }

        &__seeAllLink,
        &__caseLink{
            padding-left: s(30);
        }



    }


    @media screen and (max-width: 800px){
        overflow: hidden;

        &__case{
            width: 100vw;
            margin-right: s(-30);
        }

        &__left{
            width: 100%;
            border-right: none;
        }

        &__right{
            display: none;
        }

        &__seeAll,
        &__case{
            width: 100vw;
            margin-right: s(-30);
        }

        &__caseLink,
        &__seeAllLink{
            padding-right: s(30);
        }

        &__title,
        &__gallery{
            width: 100%;
        }

        &__subtitle{
            &:after{
                right: -9999px;
            }
        }
    }

    @media screen and (max-width: 600px){

        &__title{
            margin-top: s(80);
            font: s(50);
        }

        &__galleryItem{
            width: 100%;
            text-decoration: none;
            margin-bottom: s(20);
            .featuredCases__galleryItemFigure{
                width: 100%;
                padding-top: 274/345*100%;
            }
        }

        &__galleryItemContent{
            display: flex;
            margin-top: s(11);
            justify-content: space-between
        }

        &__galleryItemTitle{
            width: 50%;
            color: color(black);
            text-decoration: none;
            font-size: s(16);
            line-height: em(22,16);
        }

        &__galleryItemCategories{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            justify-self: flex-end;
            margin-left: auto;
            margin-top: s(8);
        }
        

        &__text{
            font-size: s(16);
            width: 100%;
            margin-bottom: s(80);
        }

        &__seeAll,
        &__case{
            width: 100vw;
            margin-right: s(-15);
        }

        &__caseLink{
            padding: s(20) s(15);
            font-size: s(20);
            line-height: em(26,20);


            &:after{
                right: s(15);
            }
        }

        &__seeAllLink{
            padding: s(19) s(15) s(21) s(15);
            font-size: s(16);
            line-height: em(26,16);

            svg{
                right: s(15);
            }
        }
    }
}