.footer{
    background-color: color(dark);
    color: color(sand);
    padding-top: s(95);
    overflow: hidden;
    position: relative;
    z-index: 11;

    &__inside{
        position: relative;
        display: flex;
        padding-bottom: s(461);
    }

    &__section{
        width: colGut(3,0,12,0);
        margin-right: gutter(12);
        position: relative;
        z-index: 1;
    }

    &__mobileLogo{
        display: none;
    }

    &__sectionText{
        @extend .title30;
        color: color(sand);
        margin-bottom: s(30);
    }

    &__sectionLink{
        color: color(sand);
        font-family: Cambon, serif;
        font-size: s(18);
        font-weight: 600;
        line-height: em(23,18); /* 127.778% */
        text-decoration-line: underline;
        transition: 200ms color easing(ease-out-quad);

        &:hover,
        &:focus{
            color: color(yellow);
        }
    }

    &__text{
        position: relative;
        z-index: 1;
        color: color(sand);
        font-size: s(30);
        line-height: 1.3em;
        width: colGut(4,0,12,0);

        p + p{
            margin-top: 1em;
        }

        a{
            font-family: Cambon, serif;
            color: color(sand);
            transition: 200ms color easing(ease-out-quad);

            &:hover{
                color: color(yellow);
            }
        }
    }
    
    &__menu{
        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;
        width: col(2,12);
        justify-self: flex-end;
        margin-left: auto;
        &--social{
            margin-left: gutter(12);
        }
    }

    &__menuTitle{
        color: color(sand);
        font-size: s(18);
        line-height: em(26, 18);
        margin-bottom: s(6);
    }

    &__menuItem{
        color: color(sand);
        font-size: s(18);
        line-height: em(26,18);
        opacity: 0.5;
        text-decoration: none;
        transition: 200ms opacity easing(ease-out-quad),  200ms color easing(ease-out-quad);

        & + &{
            margin-top: s(6);
        }

        &:hover,
        &:focus{
            opacity: 1;
            color: color(yellow);
        }
    }

    &__copyright{
        position: absolute;
        z-index: 1;
        right: s(0);
        bottom: s(50);
    }

    &__carbon{
        position: absolute;
        right: s(0);
        bottom: s(95);
        mix-blend-mode: lighten;
    }

    &__svgWrapper{
        position: absolute;
        left: (-2500+(1285/2))/1285*100%;
        right:  (-2500+(1285/2))/1285*100%;
        bottom: 0;
    }

    .footerSvg{
        #footerSvg_circleWrapper{
            //transform: translate3d( var(--x),var(--y),0);
            //transform: matrix(1, 0,0, 1, var(--x,50vw), var(--y,50vh));

            transform: matrix3d(
            1, 0, 0, 0,
            0, 1, 0, 0,
            0, 0, 1, 0,
            var(--x), var(--y), 0, 1
            );

            
            will-change: transform;
            transition: transform 400ms easing(ease-out-quint);
        }

        #footerSvg_circleWrapperPos{
            will-change: transform;
            transform: translate3d( var(--left),var(--top),0);
        }
    }

    #footerSvg{
        display: block;
    }

    #footer_limit{
        fill: none;
    }

    #footer_sensible{
        fill: yellow;
        opacity: 0.0;
    }

    @media screen and (max-width: 1100px){

        &__inside{
            padding-bottom: s(300);
        }
        &__menu{
            width: col(2.5,12);
        }
    }

    @media screen and (any-pointer: coarse) {
        .footerSvg{
            #footerSvg_circleWrapper{
                transform: translate3d(2550px, 1300px, 0) scale(5);
                will-change: initial;
          
            }
    
            #footerSvg_circleWrapperPos{
                transform: none;
            }
        }

    }

    @media screen and (max-width: 800px) {
        padding-top: s(80);
        
        &__inside{
            flex-wrap: wrap;
            padding-bottom: s(200);
        }
        &__section{
            width: col(6,12);

            &--newsletter{
                margin-right: 0;
            }
        }
        &__sectionText{
            font-size: s(25);
        }


        &__menu{
            margin-top: s(50);
            margin-left: 0;
            width: col(4,12);
        }

        &__carbon{
            bottom: s(40+200);
        }

        &__copyright{
            bottom: s(200);
        }

        &__svgWrapper{
            position: absolute;
            left: (-2500+(1285/2))/1285*100%;
            right:  (-2500+(1285/2))/1285*100%;
            bottom: 0;
        }

    
    }

    @media screen and (max-width: 600px) {
        padding-top: s(50);

        &__inside{
            display: block;
            padding-bottom: s(100);
        }
   
        &__section{
            width: 100%;
            margin-right: 0;

            &--newsletter{
                margin-top: s(35);
            }
        }


        &__mobileLogo{
            display: block;
            position: absolute;
            right: 0;
            margin-top: 90px;
        }

        &__sectionText{
            margin-bottom: s(15);
        }

        &__svgWrapper{
            display: none;
        }

        &__menu{
            width: col(7,12);
            float: left;

            &--sitemap{
                margin-top: s(85);
            }

            &--social{
                margin-top: s(135);
            }
        }

        &__carbon{
            position: static;
            right: 0;
            bottom: 0;
            margin-top: s(39);
            display: inline-block;
        }

        &__copyright{
            position: absolute;
            bottom: 0;
            left: s(-15);
            right: s(-15);
            height: s(77);
            border-top: 1px solid color(sand);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}