.globe{
    background-color: color(sand);
    padding-top: s(94);
    padding-bottom: s(71);
    position: relative;
    z-index: 5;
    overflow: hidden;

    &__inside{
        @include clearfix();
        padding: 0 colGut(1,1,12,0);
    }

    &__left{
        float: left;
        position: relative;
        z-index: 5;
    }

    &__right{
        float: right;
        position: sticky;
        top: 0;
        width: 500px;
        height: 500px;
        //background-color: red;
    }
    &__anim{
        //display: none;
    }

    &__title{
        @extend .title50;
        max-width: s(450);
    }

    &__subtitle{
        margin-top: s(20);
        @extend .subtitle;
        max-width: s(450);
    }

    &__text{
        margin-top: s(80);
        @extend .body18;
        max-width: s(405);
    }

    &__before,
    &__after{
        position: relative;
        z-index: 5;
    }

    &__after{
        margin-top: s(175);
        .globe__text{
            margin-top: s(59);
        }
    }

    &__anim{
        //border: 1px solid;
        //mix-blend-mode: dark;
        position: absolute;
        top: 0;
        left: -1000px;
        right: -1000px;
        margin-left: auto;
        margin-right: auto;
        top: -21%;
        //opacity: 0.4;
        width: s(1100);
        height: auto;
    }
}