.homePurpose{
    background-color: color(dark);
    padding-top: s(162);
    padding-bottom: s(373);
    position: relative;
    overflow: hidden;
    z-index: 11;

    &__inside{
        display: flex;
        position: relative;
        z-index: 1;
    }

    &__title{
        @extend .title80;
        width: col(6,12);
        color: color(sand);
    }

    &__text{
        margin-top: s(19);
        width: col(4,12);
        margin-left: gutter(12);
        @extend .body;
        color: color(sand);
        font-family: 'dm', sans-serif;
        font-size: s(20);
        line-height: s(28); /* 140% */
        .btn{
            margin-top: s(60);
        }

    }

    &__svgWrapper{
        position: absolute;
        left: 0;
        bottom: 0;
        width: s(5000);
        height: s(5000);
    }

    &__svg{
        @include cover();

        #purposeSensible{
            fill: yellow;
            opacity: 0;
        }

        #purposeSvg_circleWrapper{
            will-change: transform;
            transform: translate3d( var(--x),var(--y),0);
            transition: transform 400ms easing(ease-out-quint);
        }
        #purposeSvg_circleWrapperPos{
            transform: translate3d( var(--left),var(--top),0);
        }
    }

    @media screen and (any-pointer: coarse) {

        #purposeSvg_circleWrapper{
            transform: translate3d(600px, 4750px, 0) scale(5);   
        }

        #purposeSvg_circleWrapperPos{
            transform: none;
        }

    }

    @media screen and (max-width: 1100px) {
        padding-top: s(120);

        &__svgWrapper{
            width: 4000px;
            height: 4000px;
        }

        &__text{
            width: col(5,12);
        }
    }

    @media screen and (max-width: 800px) {
        padding-top: s(70);
        padding-bottom: s(290);

        &__svgWrapper{
            width: 3000px;
            height: 3000px;
        }

        &__title,
        &__text{
            width: 100%;
        }

        &__text{
            max-width: s(500);
            margin-left: 0;
            margin-top: s(40);
        }

        &__inside{
            flex-direction: column;
        }
    }

    @media screen and (max-width: 600px) {
        padding-top: s(80);
        padding-bottom: s(230);

        &__title{
            font-size: s(50);
        }

        &__text{
            font-size: s(16);

            .btn{
                margin-top: s(80);
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }

        &__svgWrapper{
            width: 1750px;
            height: 1750px;
        }

    }
}