.homeIntro{
    background-color: color(dark);
    overflow-x: hidden;
    position: relative;

    &__inside{
        height: s(833);
        display: flex;
        align-items: flex-end;
    }

    &__title{
        color: color(sand);
        font-family: 'Cambon', serif;
        font-size: s(100);
        margin-bottom: s(121-15);
    }

    &__shape{
        z-index: 1;
        position: absolute;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        top: 0;
        height: 100%;
        bottom: 0;
        width: auto;
        pointer-events: none;

        #moon,
        #poly{
            transform: translate3d(150%, 0,0);
        }
    }

    &__stars{
        position: absolute;
        left: 50%;
        will-change: transform;
        transform: translate3d(-50%,0%,0) scale(0.8);
        right: 0;
        top: 7%;
        height: 86%;
        bottom: 0;
        width: auto;
        pointer-events: none;

        & > path,
        & > g{
            opacity: 0.4;
            animation: sparkle 3000ms infinite alternate;
            transform-origin: center center;
            transform-origin: 50%;
            transform-box:fill-box;
            will-change: transform, opacity;

            @for $i from 1 through 30 {
                &:nth-child(#{$i}){
                    animation-delay: #{random(2000) + ms}
                }
            }
        }
    }
    @media screen and (max-width: 1100px) {


        &__title{
            font-size: s(85);
            margin-bottom: s(30);
        }

        &__shape{
            height: 80%;
            left: 47%;
        }
    }

    @media screen and (max-width: 1100px) and (max-height: 800px) {
        &__inside{
            height: 100svh;
        }

    }

    @media screen and (max-width: 800px) {
        &__inside{
            height: 90svh;
        }

        &__title{
            font-size: s(80);
            margin-bottom: s(50);
        }

        &__shape{
            left: 31%;
            height: 70%;
        }
    }

    @media screen and (max-width: 700px){

        &__shape{
            left: -10%;
            width: 416%;
            height: auto;
            bottom: 0;
            top: inherit;
        }

        &__inside{
            height: 100vh;
            height: 100svh;
            z-index: 2;
            position: relative;
        }

        &__title{
            font-size: s(50);
            margin-bottom: 0;
            position: absolute;
            top: 50%;
            transform: translate3d(0, -50%, 0);
        }
    }
}



@keyframes sparkle {
    60% {
        opacity: 0.4;
        transform: scale(1);
    }
    80% {
      opacity: 0.8;
      transform: scale(1.2);
    }
    100% {
        opacity: 0.4;
      transform: scale(1);
    }
}


.homeIntro {
    .fx-letter {
        transform: translate3d(-120px, 57px, -300px) scaleY(0.01) rotateX(-90deg) rotateZ(-35deg);
        transition: all 1.5s cubic-bezier(0.245, 0.495, 0.000, 0.990);

        @for $n from 1 through 80 {
            &--#{$n} {
            transition-delay: ($n - 1) * .008s;
            }
        }
    }

    &--inview{
        .fx-letter {
            transform: translateZ(0) scaleY(1) rotateX(0) rotate(0);
            opacity: 1;
        }
    }
}
  