.homeVideo{
    position: relative;
    overflow: hidden;

    &:before{
        content: '';
        z-index: 1;
        @include cover();
        mix-blend-mode: darken;
        background:  linear-gradient(270deg, rgba(19, 28, 35, 0.20) 20.42%, rgba(19, 28, 35, 0.00) 54.72%);
    }

    &:after{
        content: '';
        @include cover();
        background-color: color(dark);
        z-index: 3;
        will-change: opacity;
        opacity: 1;
        transition: 400ms opacity linear;
    }

    &__noise{
        z-index: 2;
        @extend .photoNoise;
    }
    .no-js &,
    .no-inview &, 
    &--inview/*.homeVideo--playing*/{
        &:after{
            opacity: 0;
        }
    }


    &__inside{
        display: flex;
        height: s(710);
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__video{
        position: absolute;
        top: 50%; 
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        min-width: 100%; 
        min-height: 100%; 
        width: auto; 
        height: auto;
        overflow: hidden;
    }

    &__text{
        position: relative;
        z-index: 2;
        margin-bottom: s(77);
        //width: col(4,12);
        color: color(sand);

        /* Title - 50 */
        font-family: Cambon, serif;
        font-size: s(50);
        line-height: em(55,50);
        text-shadow: 0px 0px 25px rgba(0,0,0,0.20);
    }

    @media screen and (max-width: 1100px) {
        &__inside{
            display: flex;
            height: s(510);
        }

        &__text{
            font-size: s(35);
            margin-bottom: s(40);
        }
    }

    @media screen and (max-width: 800px) {
        &__inside{
            height: s(370);
        }

        &__text{
            font-size: s(25);
            margin-bottom: s(30);
        }
    }

    @media screen and (max-width: 600px) {
        &__inside{
            height: 90vh;
            height: 90svh;
        }

        &__text{
            font-size: s(35);
            margin-bottom: s(30);
            width: 100%;
            text-align: center;
        }
    }
}