.homeTransformation{
    padding-top: s(225);
    padding-bottom: s(140);
    overflow: hidden;

    &__svg{
        position: absolute;
        left: s(-85);
        top: s(-193);
    }

    &__title{
        @extend .title80;
        margin-left: colGut(2,1,12,0);
        margin-bottom: s(100);
        width: col(7,12);
        color: color(dark);
    }

    &__content{
        margin-left: colGut(7,1,12,0);
        width: col(5,12);
    }

    &__text{
        margin-bottom: s(50);
        max-width: s(441);
        font-family: dm, sans-serif;
        font-size: s(18);
        line-height: em(26,18);
    }

    @media screen and (max-width: 1100px){

        &__svg{
            left: -2%;
            width: 70%;
            top: -200px;
            height: auto;
        }
    }
    @media screen and (max-width: 800px){
        padding-top: s(180);
        padding-bottom: s(80);

        &__svg{
            top: -150px
        }

        &__title,
        &__content{
            position: relative;
            z-index: 1;
        }

        &__content{
            width: col(8,12);
            margin-left: colGut(4,1,12,0);

        }
        &__text{
            max-width: s(880);
        }
    }

    @media screen and (max-width: 600px){

        padding-top: s(20);
        padding-bottom: s(91);

        &__inside{
            display: flex;
            flex-direction: column;
        }

        &__title{
            margin-left: 0;
            font-size: s(50);
            width: 100%;
            margin-bottom: s(40);
            br{
                display: none;
            }
        }

        &__text{
            margin-bottom: s(80);
        }

        &__content{
            margin-left: 0;
            width: 100%;
        }

        &__svg{
            order: -1;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
        }

        .btn{
            display: block;
            margin: 0 auto;
        }
    }

    
}