.homePurpose{
    background-color: color(dark);
    padding-top: s(162);
    padding-bottom: s(373);
    position: relative;
    overflow: hidden;
    z-index: 11;

    &__inside{
        display: flex;
        position: relative;
        z-index: 1;
    }

    &__title{
        font-family: 'Cambon', serif;
        width: col(6,12);
        color: color(sand);
        font-size: s(80);
        line-height: s(80);
    }

    &__text{
        margin-top: s(19);
        width: col(4,12);
        margin-left: gutter(12);
        @extend .body;
        color: color(sand);
        font-family: 'dm', sans-serif;
        font-size: s(20);
        line-height: s(28); /* 140% */

        .btn{
            margin-top: s(60);
        }
    }

    &__svgWrapper{
        position: absolute;
        left: 0;
        bottom: 0;
        width: s(5000);
        height: s(5000);
    }

    &__svg{
        @include cover();

        #purposeSensible{
            fill: yellow;
            opacity: 0;
        }

        #purposeSvg_circleWrapper{
            will-change: transform;
            transform: translate3d( var(--x),var(--y),0);
            transition: transform 400ms easing(ease-out-quint);
        }
        #purposeSvg_circleWrapperPos{
            transform: translate3d( var(--left),var(--top),0);
        }
    }
}