.ourClients{
    padding-top: s(150);

    &__inside{
        display: flex;
        justify-content: space-between;
    }

    &__content{
        width: col(5,12);
    }

    &__title{
        font-family: dm, sans-serif;
        font-size: s(13);
        font-weight: 500;
        line-height: em(17, 13); /* 130.769% */
        text-transform: uppercase;
        margin-bottom: s(60);
        color: color(dark);
    }

    &__text{
        font-size: s(30);
        color: color(dark);
        line-height: 1.3em;
    }

    &__image{
        margin-right: colGut(1,1,12,0);
    }

    &__presentation{
        display: flex;  
    }

    &__container{
        display: flex;
        width: calc(100% - 409px);
        cursor: ew-resize;
    }

    &__containerRight{
        background-color: color(dark);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: s(39);
    }
    &__carousel{
        padding-top: s(125);
        padding-bottom: s(156);
    }

    &__carouselWrapper{
        display: flex;
        width: fit-content;
    }

    &__carouselItem{
        height: s(70);
        filter: grayscale(100%);
        margin-left: s(200);
        transition: 200ms filter linear, 200ms -webkit-filter linear;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            filter: grayscale(0%);
        }

        img{
            height: auto;
            width: auto;
            display: block;
            object-fit: contain;
            max-width: s(300);
            max-height: s(70);
        }
    }

    @media screen and (max-width: 1100px) {
        padding-top: s(100);

        &__carousel{
            padding: s(100) 0;
        }

        &__content{
            width: col(6,12);
            margin-bottom: s(60);
        }

        &__container {
            width: 100%;
        }

        &__presentation{
            flex-direction: column;
        }

        &__text{
            font-size: s(25);
        }

        &__image{
            margin-right: 0;
            width: col(6,12);
            height: auto;
        }
    }


    .client{
        border: 1px solid black;
        border-right: none;
        overflow: hidden;
        width: 12%;
        flex-grow: 1;
        cursor: pointer;
        transition: 200ms width easing(ease-out-quad);
        
        &:last-child{
            margin-right: auto;
            border-right: 1px solid black;

        }
    
        &--active,
        &:hover,
        &:focus{
            flex-grow: 7;
            width: 100%;
        }
    
    
        &__container{
            display: flex;
            padding-left: s(30);
            padding-top: s(35);
            padding-bottom: s(35);
            padding-right: s(109);
            width: s(632);
        }
    
        & + &{
            border-left: none;
        }
    
        &__letter{
            display: inline-block;
            color: color(dark);
            font-family: Cambon, serif;
            font-size: s(200);
            line-height: s(170);
            text-transform: uppercase;
            position: relative;
            margin-top: s(-15);
            margin-right: s(40);
        }
    
        &__content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        &__text{
            font-size: s(22);
            line-height: em(32, 22)
        }
    
        &__name{
            color: color(black);
            font-size: s(13);
            font-weight: 500;
            line-height: em(17,13); 
            text-transform: uppercase;
        }

        @media screen and (max-width: 800px) {

            &:first-child{
                border-left: none;
            }
            &:last-child{
                border-right: none;
            }

            &__container{
                width: s(430);
                padding-right: 0;
            }

            &__text{
                font-size: s(18);
            }
        }
    }
}


