.sCaseIntro{
    margin: s(100) 0 s(80);

    &__title{
        @extend .title50;
        width: 100%;
        color: color(dark);
    }

    @media screen and (max-width: 600px){
        margin: s(80) 0;
    }
}