.sCaseIntro{
    margin-top: s(100);
    margin-bottom: s(80);

    &__inside{
        display: flex;
    }

    &__title{
        @extend .title50;
        width: 100%;
        color: color(dark);
    }
}