.sCaseIntro{
    margin-top: s(100);
    margin-bottom: s(80);

    &__inside{
        display: flex;
    }

    &__title{
        @extend .title50;
        width: colGut(4,1,12,0);
        margin-right: colGut(1,1,12,0);
        color: color(dark);
    }

    &__text{
        margin-top: s(15);
        @extend .body;
        @extend .body18;
        width: col(6,12);
    }
}