.serviceHeader{
    position: relative;
    border-radius: 0px 0px 30px 30px;

    &:before{
        content: '';
        @include cover();
        background-image: url('../images/noise.jpg');
        @supports (gap: 1px) {
            background-image: url('../images/noise.webp');
        }
        background-size: 200px 200px;
        mix-blend-mode:darken;
        opacity: 0.20;
        pointer-events: none;
    }

    .wrapper{
        position: static;
    }

    &__inside{
        height: s(550);

        display: flex;
        flex-direction: column;
        padding-bottom: s(50);
    }

    &__back,
    &__nav,
    &__title{
        position: relative;
        z-index: 1;
    }

    &__back{
        font-family: Cambon, sans-serif;
        font-size: s(18);
        font-style: normal;
        font-weight: 600;
        line-height: em(23,18); /* 127.778% */
        margin-top: s(25);
        color: color(white);
        display: inline-block;
        z-index: 11;
    }

    &__title{
        margin-top: s(75);
        @extend .title100;
        color: color(white);
        width: col(7,12);
    }

    &__nav{
        justify-self: flex-end;
        margin-top: auto;
        display: flex;
    }

    &__navItem{
        position: relative;
        display: inline-block;
        color: color(sand);
        font-family: Cambon, sans-serif;
        font-size: s(18);
        font-weight: 600;
        line-height: em(23, 18);
        text-decoration: none;

        & + &{
            margin-left: s(40);
            &:before{
                content: '|';
                position: absolute;
                left: s(-20);
                top: 0;
                bottom: 0;
            }
        }

        &:after{
            content: "";

            position: absolute;
            bottom: s(-3);
            left: 0;

            width: 100%;
            height: s(1.3);
            background: color(sand);

            will-change: transform;
            transform: scaleX(0);
            transform-origin: right center;
            transition: transform .34s easing(ease-in-out-quint);
        }

        &:hover:after{
            transform: scaleX(1);
            transform-origin: left center;
        }
    }

    &__picture{
        margin-left: auto;
        justify-self: flex-end;
        position: absolute;
        height: 100%;
        width: auto;
        right: 0;
        top: 0;
    }

    &--dodgerblue{
        background-color: #784FE0;
    }

    &--lightblue{
        background-color: color(lightblue);
    }

    &--outrageousorange{
        background-color: #FF542E;
    }
    
    &--pink{
        background-color: #FEC5D4;
    }

    &--denimblue{
        background-color: #1C6ECF;
    }

    &--greenpea{
        background-color: #1F5C40;
    }

    &--sungloworange{
        background-color: #FFC833;
    }

    &--darkgreyblue{
        background-color: #384349;
    }

    &--pink,
    &--sungloworange,
    &--lightblue{
        .serviceHeader__back,
        .serviceHeader__navItem,
        .serviceHeader__title{
            color: color(dark);
        }

        .serviceHeader__navItem:after{
            background-color: color(dark);
        }
    }

    &--dodgerblue,
    &--outrageousorange,
    &--denimblue,
    &--greenpea,
    &--darkgreyblue{

        &:before{
            mix-blend-mode: lighten;
            opacity: 0.14;
        }
        
    }

    @media screen and (max-width: 1100px){

        &__inside{
            height: s(420);
        }
    }


    @media screen and (max-width: 800px){
        
        &__inside{
            height: s(370);
        }
    }

    @media screen and (max-width: 600px){

        &__back{
            position: absolute;
            left: s(15);
            top: 0;
            
        }
        &__inside{
            height: auto;
            min-height: 95vh;
            padding-bottom: s(30);
        }

        &__picture{
            width: 100%;
            height: auto;
            position: relative;
            margin-top: s(100);
            order: -1;
        }

        &__title{
            margin-top: s(30);
            font-size: s(50);
            justify-self: flex-end;
            margin-top: auto;
        }

        &__nav{
            margin-top: s(25);
            flex-direction: column;
        }

        &__navItem{
            display: block;
            padding: s(15) 0;
            border-top: 1px solid color(sand);


            & + &{
                margin-left: 0;
                &:before{
                    content: '';
                    display: none;
                }
            }
        }

    }

}