.serviceContent{
    padding: s(80) 0;

    &__inside{
        & > * {
            margin-top: s(90);

            &:first-child{
                margin-top: 0;
            }
        }
    }
    @media screen and (max-width: 600px){
        padding-bottom: s(120);
    }
}

.section{
    display: flex;

    &__title{
        width: col(5,12);
        margin-right: gutter(12);
    }

    &__content{
        width: col(6,12);
    }

    &__title{
        color: color(dark);
        @extend .body18;
    }

    &__intro{
        font-size: s(30);
        line-height: 1.3em;
        margin-bottom: s(30);
    }

    &__text{
        @extend .body;
        @extend .body18;
    }

    @media screen and (max-width: 800px){

        &__title{
            width: col(4,12);
            margin-right: gutter(12);
        }

        &__content{
            width: col(8,12);
        }
        

    }

    @media screen and (max-width: 600px){
        flex-wrap: wrap;

        &__title{
            width: col(12,12);
            margin-right: 0;
            margin-bottom: s(80);
        }

        &__content{
            width: col(12,12);
        }

        &__intro{
            margin-bottom: s(40);
        }
    }
}

.quote{
    width: col(6,12);
    margin-left: colGut(5,1,12,0);
    padding: s(40) 0;
    border-top: 1px solid color(dark);
    border-bottom: 1px solid color(dark);

    &__text{
        &:before{
            content: '“';
        }

        &:after{
            content: '”';
        }

        @extend .title50;
    }

    &__author{
        margin-top: s(30);
        @extend .body18;
        display: block;
    }

    @media screen and (max-width: 800px){

        width: col(8,12);
        margin-left: colGut(4,1,12,0);

    }

    @media screen and (max-width: 600px){
        width: col(12,12);
        margin-top: s(80);
        margin-left: 0;

        &__author{
            margin-top: s(40);
        }
    }
}