.serviceChIntro{

    float: left;
    width: col(4,12);
    position: sticky;
    top: s(30);
    margin-bottom: s(80);

    &__title{
        @extend .title80;
        margin-bottom: s(45);
    }

    &__nav{
        min-width: s(260);
        display: flex;
        flex-direction: column;
    }

    &__navItem{
        border-bottom: 1px solid color(dark);
        &:first-child{
            border-top: 1px solid color(dark);
        }
        width: 100%;
        padding: s(15) 0 s(18);
        font-family: Cambon, serif;
        font-size: s(18);
        font-weight: 600;
        line-height: em(23,18); /* 127.778% */
        color: color(dark);
        position: relative;
        text-decoration: none;

        svg{
            position: absolute;
            top: 50%;
            margin-top: s(-5.5);
            right: 0;
            opacity: 0;
            visibility: hidden;
            transition: 200ms opacity easing(ease-out-quad), 0ms visibility linear 200ms;
        }

        &:hover,
        &:focus{
            svg{
                opacity: 1;
                visibility: visible;
                transition: 200ms opacity easing(ease-out-quad), 0ms visibility linear 0ms;    
            }
        }
    }

    @media screen and (max-width: 1100px) {
        &__title{
            font-size: s(62.5);
        }

        &__nav{
            min-width: 0;
        }
    }

    @media screen and (max-width: 800px) {
        &__title{
            font-size: s(50);
            width: 100%;
        }

        width: col(4.5,12);
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        position: relative;
        margin-bottom: 0;
        padding-bottom: s(64);
        top: 0;

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: s(-15);
            right: s(-15);
            height: 1px;
            background: color(dark);
        }

        &__title{
            margin-bottom: s(35);
        }

        &__navItem{
            padding-bottom: s(15);
        }
    }
}