.serviceGrid{
    background-color: color(dark);
    padding-bottom: s(160);

    &__grid{
        display: flex;
        flex-wrap: wrap;
        will-change: transform, opacity;
        opacity: 0;
        transform: translate3d(0,30px, 0);
        transition: opacity .6s easing(ease-out-quad) .1s, transform .6s easing(ease-out-quad) .1s;

        .no-js &,
        .serviceGrid--inview &{
            opacity: 1;
            transform: translate3d(0, 0, 0);

        }
    }

    .serviceCard{
        width: 100%;
        @media (any-pointer: fine) {
            transform: translate3d(0, 0, 0);
            transition: 200ms transform easing(ease-out-quad);
            &:hover{
                transform: translate3d(0, -30px, 0);
            }
        }
    }

    &__title{
        @extend .title80;
        margin-bottom: s(120);
        width: 100%;
    }

    &--service{
        background-color: color(sand);
        padding-bottom: s(110);
    }

    @media screen and (min-width: 1101px) {
        &__item{
            width: col(3, 12);
            margin-left: gutter(12);
            &:nth-child(4n+1){
                margin-left: 0;
            }
    
            &:nth-child(1n+5){
                margin-top: s(35);
            }
        }
    }

    @media screen and (max-width: 1100px) and (min-width: 801px) {
        &__item{
            width: col(4, 12);
            margin-left: gutter(12);
            &:nth-child(3n+1){
                margin-left: 0;
            }
    
            &:nth-child(1n+4){
                margin-top: s(35);
            }
        }
    }

    @media screen and (max-width: 800px)  and (min-width: 601px)  {
        &__item{
            width: col(6, 12);
            margin-left: gutter(12);
            &:nth-child(2n+1){
                margin-left: 0;
            }
    
            &:nth-child(1n+3){
                margin-top: s(35);
            }
        }
    }

    @media screen and (max-width: 600px) {
        padding-bottom: s(50);
        overflow: hidden;

        .serviceGrid--service .serviceGrid__title{
            font-size: s(50);
            margin-bottom: s(105);
        }


 
        &__item{
            width: col(12, 12);
            & + & {
                margin-top: s(40)
            }
        }

        .swiper{
            width: s(295);
            padding-left: s(15);
            margin-left: s(-15);
            overflow: visible;

            .serviceGrid__grid{
                flex-wrap: nowrap;           
            }

            .serviceGrid__item{
                transform: translate3d(0,0,0) rotate(0);
                transition: 200ms transform easing(ease-out-quad);
                
                & + .serviceGrid__item{
                    margin-top: 0;
                }

                &.swiper-slide-next{
                    transform: translate3d(0,-15px,0) rotate(2deg);
                }
            }
        }

        .serviceCard{
            width: s(295);
            max-width: 100%;
            margin: 0 auto;
        }
    }
}