.teamCard{
    position: relative;
    width: s(405);

    &__photo{
        width: 100%;
        padding-top: 100%;
        transition: 200ms opacity linear, 0ms visibility linear 0ms;
        opacity: 1;
        visibility: visible;
        position: relative;

        img{
            @include cover();
            object-fit: cover;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: s(10);
            filter: grayscale(100%);
        }
    }
    &__contentWrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding-top: 100%
    }
    &__content{
        @include cover();
        opacity: 0;
        visibility: hidden;
        //transition: 200ms opacity linear, 0ms visibility linear 200ms;
        background-color: color(orange);
        border-radius: s(10);
        overflow: hidden;
        padding: s(30);
        display: flex;
        flex-direction: column;

        &:before{
            content: '';
            @include cover();
            pointer-events: none;

            background-image: url('../images/noise.jpg');
            @supports (gap: 1px) {
                background-image: url('../images/noise.webp');
            }

            background-size: 200px 200px;
            mix-blend-mode:darken;
            opacity: 0.1;
        }
    }

    &__star{
        margin-bottom: s(10);
    }

    &__title,
    &__name,
    &__text{
        position: relative;
        z-index: 1;
    }


    &__title,
    &__name{
        @extend .body22;
        color: color(sand);
        margin-bottom: s(7);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
    }

    &__title{
        opacity: 0.5;
    }

    &__text{
        justify-self: flex-end;
        margin-top: auto;
        @extend .body18;
        overflow: hidden;
        color: color(sand);
        max-height: s(26*8); 
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;  
    }

    &__info{
        margin-top: s(10);
        //transition: 200ms opacity linear, 0ms visibility linear 0ms;
        opacity: 1;
        visibility: visible;
        color: color(dark);

    }

    &__infoName,
    &__infoTitle{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @extend .body18;
    }

    &__infoTitle{
        opacity: 0.4;
        mix-blend-mode: plus-darker;
    }

    &--dodgerblue{
        .teamCard__content{
            background-color: #784FE0;
        }
    }

    &--outrageousorange{
        .teamCard__content{
            background-color: #FF542E;
        }
    }
    &--pink{
        .teamCard__content{
            background-color: #FEC5D4;
        }
    }
    &--denimblue{
        .teamCard__content{
            background-color: #1C6ECF;
        }
    }
    &--greenpea{
        .teamCard__content{
            background-color: #1F5C40;
        }
    }
    &--sungloworange{
        .teamCard__content{
            background-color: #FFC833;
        }
    }

    &--pink,
    &--sungloworange{
        .teamCard__title,
        .teamCard__name,
        .teamCard__text{
            color: color(dark);
        }
        

        #star21{
            rect{
                fill: color(dark);
            }
        }
    }


    &:hover{
        .teamCard__info{
            //transition: 200ms opacity linear, 0ms visibility linear 200ms;
            opacity: 0;
            visibility: hidden;
        }
        .teamCard__content{
            //transition: 200ms opacity linear, 0ms visibility linear 0ms;
            opacity: 1;
            visibility: visible;
        }
    }
}