html {
    font-size: $base-font-size * 1px;
    font-family: 'dm', sans-serif;
    background-color: color(sand);
    color: color(dark);
    
}

.sro {
    @include hidden();
}

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: s(1285);
    width: 100%;

    @media screen and (max-width: 1285px) {
        max-width: 100%;
        padding-left: s(40);
        padding-right: s(40);
    }

    @media screen and (max-width: 600px) {
        padding-left: s(24);
        padding-right: s(24);
    }
}

.photoNoise{
    content : '';
    @include cover();
    z-index: 2;
    background-image: url('../images/noise.jpg');
    @supports (gap: 1px) {
        background-image: url('../images/noise.webp');
    }
    background-size: 200px 200px;
    mix-blend-mode:lighten;
    opacity: 0.25;
}