html {
    font-size: $base-font-size * 1px;
    font-family: 'dm', sans-serif;
    background-color: color(sand);
    color: color(dark);

    
}

body{
    &.loading{
        cursor: wait;
    }
    &:before{
        content: '';
        @include cover();
        z-index: 10000;

        .no-js &,
        .js-active &{
            display:none;
        }
    }
}

.curtain{
    @include cover();
    position: fixed;
    background-color: color(orange);
    transform: translate3d(0, -100%, 0);
    z-index: 1000;
}

.mainContent{
    min-height: 100vh;
}
.sro {
    @include hidden();
}

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: s(1285);
    width: 100%;

    @media screen and (max-width: 1285px) {
        max-width: 100%;
        padding-left: s(30);
        padding-right: s(30);
    }

    @media screen and (max-width: 700px) {
        padding-left: s(15);
        padding-right: s(15);
    }


}

.photoNoise{
    content : '';
    @include cover();
    pointer-events: none;
    z-index: 2;
    background-image: url('../images/transparentNoise.jpg');
    @supports (gap: 1px) {
        background-image: url('../images/transparentNoise.webp');
    }
    background-size: s(300) s(300);
    image-rendering: pixelated;

    @media only screen and (min-device-pixel-ratio: 2), 
    only screen and (min-resolution: 192dpi) {
        background-size: s(150) s(150);

    }
}
.wrapperImage__image,
.wp-block-image,
.fullImage__image,
.fullBlackImage__image{
    position: relative;
}

.sCaseNext__image,
.imagesslider__item,
.wrapperImage__image,
.wp-block-image,
.fullImage__image,
.textGallery__image,
.fullBlackImage__image,
.textImage__image,
.quoteImage__image,
.twoImages__item{
    &:before{
        @extend .photoNoise;
    }
}