.inview{
    .appear{
        &-fade,
        &-fadeup,
        &-fadedown{
            opacity: 0;
        }

        &-fade{
            will-change: opacity;
            transition: opacity 500ms linear 0ms;
        }
        
        &-fadeup{
            transform: translate3d(0,#{s(80)},0);
            will-change: transform, opacity;
            transition: opacity 500ms linear 0ms, transform  500ms easing(ease-out-quad) 0ms;
        }
        &-fadedown{
            transform: translate3d(0,#{s(-80)},0);
            will-change: transform, opacity;
            transition: opacity 500ms linear 0ms, transform  500ms easing(ease-out-quad) 0ms;
        }

        @media screen and (max-width: 600px) {
            &-fadeup,
            &-fadedown{
                transform: translate3d(0,0,0);
            }
        }

        @for $n from 1 through 15 {
            &-delay#{$n}{
                transition-delay: $n/10 * 1s;
            }
        }

        @media screen and (max-width: 600px) {
            transition-delay: 0ms !important;
        }
    }

    .in-view{
        &.appear{
            &-fadedown,
            &-fadeup,
            &-fade{
                opacity: 1;
            }
            &-fadedown,
            &-fadeup{
                transform: translate3d(0,0,0);
            }
        }
    }
}



  
// Title FX
// -----------------------------------------------------------------------------
.fx-parent {
    perspective: 2000;
    margin-right: -0.2em
}

.fx-word {
    display: inline-flex;
}
  
.fx-letter {
    transform: translate3d(-0.7em, 0.6em, -5em) scaleY(0.01) rotateX(15deg) rotateZ(-15deg);
    transform-origin: 0 100%;
    opacity: 0;

    backface-visibility: hidden;
    transform-style: preserve-3d;
    will-change: transform, opacity;
    transition: transform 1000ms cubic-bezier(0.245, 0.495, 0.000, 0.990), 
                opacity   1200ms cubic-bezier(0.245, 0.495, 0.000, 0.990);

    @for $n from 1 through 55 {
        &--#{$n} {
            transition-delay: .1s + (($n - 1) * .01s);
        }
    }

    @media screen and (max-width: 600px) {
        transition-delay: 0ms !important;
    }
}

.no-js,
.fadeTransitionEntered,
.fx-parent.in-view{
    .fx-letter {
        opacity: 1;
        transform: translateZ(0) scaleY(1) rotateX(0) rotate(0);
    }
}

.fadeTransitionEntered{
    .fx-letter{
        transition: none !important;
    }
}