.inview{
    .js-in-view{

        &.appear{
            &-fade{
                visibility: hidden;
                opacity: 0;
                transition: opacity .8s easing(ease-out-cubic) .1s;
            }
    
            &-fadeup{
                visibility: hidden;
                opacity: 0;
                transform: translate3d(0,#{s(30)},0);
                will-change: transform, opacity;
                transition: visibility 0ms linear .1s, opacity .8s easing(ease-out-cubic) .1s,transform .8s easing(ease-out-quad) .1s;
                @media screen and (max-width: s(1024)) {
                    transform: none;
                }
            }
            &-fadedown{
                visibility: hidden;
                opacity: 0;
                transform: translate3d(0,#{s(-30)},0);
                will-change: transform, opacity;
                transition: visibility 0ms linear .1s, opacity .8s easing(ease-out-cubic) .1s,transform .8s easing(ease-out-quad) .1s;
                @media screen and (max-width: s(1024)) {
                    transform: none;
                }
            }
            &-delay2{
                transition-delay: .2s;
            }
    
            &-delay3{
                transition-delay: .3s;
            }
    
            &-delay4{
                transition-delay: .4s;
            }

            &-delay5{
                transition-delay: .5s;
            }

            &-delay6{
                transition-delay: .6s;
            }

            &-delay7{
                transition-delay: .7s;
            }

            &-delay8{
                transition-delay: .8s;
            }

            @media screen and (max-width: s(1024)) {
                &-delay1,
                &-delay2,
                &-delay3,
                &-delay4,
                &-delay5,
                &-delay6,
                &-delay7,
                &-delay8{
                    transition-delay: .1s;
                }
            }
        }
    
        &.in-view{
            &.appear{
                &-fade{
                    opacity: 1;
                    visibility: visible;
                }
                &-fadedown,
                &-fadeup{
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(0,0,0);
                    @media screen and (max-width: s(1024)) {
                        transform: none;
                    }
                }
            }
        }
    }
}