html.lenis {
    //height: auto;
}

html { 
    height: 100%; 
    overflow:auto;
    margin-top: 0 !important
}
body { height: 100%; }
  
.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}
