.fullImage{
    margin: s(80) 0;
    position: relative;
    z-index: 2;

    width: 100vw;
    margin-left: calc(#{1285px/2} - 50vw);

    &__image{
        img{
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &--service{
        margin-left: calc(#{185px/2} - 50vw);
    }

    @media screen and (max-width: 1285px){
        margin-left: s(-30);

        &--service{
            margin-left: calc(#{colGut(5,1,6,0) * -1} - 30px);
        }
    
    }

    @media screen and (max-width: 800px){
        &--service{
            margin-left: calc(#{colGut(5,1,7,0) * -1} - 30px);
        }
    }

    @media screen and (max-width: 700px) {
        margin-left: s(-15);
    }
}