.imagesslider{
    margin: s(80) 0;
    background-color: color(sand);
    overflow: hidden;
    height: s(500) !important;
    z-index: 2;
    position: relative;
    width: 100vw !important;
    margin-left: calc(#{1285px/2} - 50vw);

    &--service{
        margin-left: calc(#{185px/2} - 50vw);
    }

    .swiper-wrapper {
        padding-left: s(35);
    }
    .swiper-slide {
        width: 500px !important;
        height: 500px !important;
        position: relative;


        img{
            @include cover();
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }

    @media screen and (max-width: 1285px){
        margin-left: s(-30);
        &--service{
            margin-left: calc(#{colGut(5,1,6,0) * -1} - 30px);
        }
    }

    @media screen and (max-width: 800px){
        &--service{
            margin-left: calc(#{colGut(5,1,7,0) * -1} - 30px);
        }
    }


    @media screen and (max-width: 700px) {
        margin-left: s(-15);
    }
    
    @media screen and (max-width: 600px) {
        height: s(350) !important;
        .swiper-wrapper{
            padding-left: 0;
        }
        .swiper-slide {
            width: 350px !important;
            height: 350px !important;
        }
    }

}