.commitments{
    &__case{
        background-color: color(dark);
        position: relative;
        z-index: 1;

    }

    &__caseButton{
        padding: s(80) 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        position: relative;
        
    }
    @media screen and (max-width: 600px) {
        &__caseButton{
            padding: s(60) 0 s(80);
        }
    }
}