.error{
    background-color: color(dark);
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    overflow: hidden;

    .wrapper{
        height: 100%;
    }

    &__inside{
        display: flex;
        align-items: flex-end;
        height: 100%;
        position: relative;
        padding-bottom: s(50);
    }

    &__title{
        @extend .title80;
        position: absolute;
        bottom: 50%;
        left: colGut(1,1.5,12,0);
        color: color(sand);
        width: colGut(4,1,12,0);
    }

    &__secondaryContainer{
        order: 1;
        display: flex;
        width: col(4,12);
        justify-content: space-between;
        margin-right: gutter(12);
    }

    &__secondary{
        width: col(2,4);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @extend .body18;
        color: color(sand);
    }

    &__secondaryTitle{
    }

    &__secondaryItem{
        text-decoration: none;
        color: color(dark);
        margin-top: s(6);

        color: color(sand);
        opacity: 0.5;
        transition: 200ms opacity line easing(ease-out-quad)ar, 200ms color easing(ease-out-quad);

        &:hover,
        &:focus{
            color: color(yellow);
            opacity: 1;
        }
    }

    &__copyright{
        order: 2;
        width: col(2,12);

        font-family: dm, sans-serif;
        font-size: s(14);
        line-height: em(22,14); /* 157.143% */

        order: none;
        justify-content: flex-end;
        margin-left: auto;
        
        color: color(sand);
        width: inherit;
    }

    @media screen and (max-width: 800px) {
        &__secondaryContainer{
            width: col(6,12);
        }
    }
    @media screen and (max-width: 600px) {
        height: inherit;
        position: relative;


        &__secondaryContainer{
            width: col(12,12);
            justify-self: auto;
            margin-top: auto;
            margin-bottom: s(41);
            margin-right: 0;

        }

        &__inside{
            flex-wrap: nowrap;
            padding-bottom: s(70);
            flex-direction: column;
            padding-top: s(146);
            height: inherit;
            align-items: center;

            min-height: 100vh;
            min-height: 100svh;
        }
        .wrapper{
            height: inherit;
        }

        &__title{
            position: relative;
            width: 100%;
            bottom: 0;
            left: 0;
            text-align: center;
            margin-top: s(40);
            margin-bottom: s(100);
        }
        &__copyright{
            position: absolute;
            bottom: 0;
            left: s(-15);
            right: s(-15);
            margin-left: 0;
            width: 100vw;
            height: s(70);
            text-align: center;
            justify-content: center;
            display: flex;
            align-items: center;
            border-top: 1px solid color(white);
        }
    }
}

.errorCard{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: s(-462/2);
    margin-left: s(-296/2);
    border-radius: s(20);
    border: 2px solid color(dark);
    background-color: color(sand);
    width: s(296);
    height: s(462);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    &__title{
        font-family: Cambon, serif;
        color: color(dark);
        text-align: center;
    }

    &__line1{
        display: block;
        font-size: s(18);
        font-weight: 600;
        line-height: em(23, 18);
    }

    &__line2{
        display: block;
        overflow: hidden;
        font-size: s(70);
        line-height: em(60, 70);
    }

    &__star{
        position: absolute;

        &--tl{
            top: s(20);
            left: s(20);
        }
        &--tr{
            top: s(20);
            right: s(20);
        }

        &--bl{
            bottom: s(20);
            left: s(20);
        }
        &--br{
            bottom: s(20);
            right: s(20);
        }
    }

    &--main{
        z-index: 2;
        transform: translate3d(100px, -50px, 0) rotate(10deg);
    }

    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6{
        opacity: 0.5;
        transform: scale(0.68831168831);
    }

    &--1{
        transform: translate3d(-150px, -48vh, 0) rotate(37.828deg) scale(0.68831168831);
    }

    &--2{
        transform: translate3d(-150px, +53vh, 0) rotate(4.123deg) scale(0.68831168831);
    }

    &--3{
        transform: translate3d(370px, -2vh, 0) rotate(-34.769deg) scale(0.68831168831);
    }

    &--4{
        transform: translate3d(320px, +58vh, 0) rotate(-16.386deg) scale(0.68831168831);
    }

    &--5{
        transform: translate3d(55vw, +20vh, 0) rotate(42.518deg) scale(0.68831168831);
    }

    &--6{
        transform: translate3d(620px, -50vh, 0) rotate(-17.458deg) scale(0.68831168831);
    }

    @media screen and (max-width: 1100px) {

        &--main{
            transform: translate3d(200px, -50px, 0) rotate(10deg);
        }

        &--3{
            transform: translate3d(470px, -35vh, 0) rotate(-34.769deg) scale(0.68831168831);
        }

    }
    @media screen and (max-width: 800px) {
        &--main{
            transform: translate3d(140px, -50px, 0) rotate(10deg);
        }   

        &--3{
            transform: translate3d(370px, -20vh, 0) rotate(-34.769deg) scale(0.68831168831);
        }
    }
    @media screen and (max-width: 600px) {



        &--main{
            transform: translate3d(0px, 0px, 0) rotate(10deg);
            height: s(384);
            width: s(247);
            position: relative;
            order: -1;
            left: 0;
            top: 0;
            margin-top: 0;
            margin-left: 0;
        }

        
    }

}