.serviceChild{
    margin-top: s(87);
    margin-bottom: s(108);

    &__inside{
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            gap: s(40);
        }
    }

    &__title{
        @extend .title80;
        color: color(dark);
        margin-bottom: s(40);
    }

    &__body{
        width: col(8.5,12);

        @media screen and (max-width: 800px) {
            width: 100%;
        }
    }

    &__backWrap{
        display: flex;
        justify-content: center;
        margin: s(60) 0 s(80);
    }

    @media screen and (max-width: 800px) {
        margin-top: s(60);
        margin-bottom: s(80);
    }

    @media screen and (max-width: 600px) {
        margin-top: s(80);
        margin-bottom: s(60);

        &__title{
            font-size: s(50);
            line-height: em(55, 50);
            margin-bottom: s(30);
        }

        &__backWrap{
            margin: s(40) 0 s(60);
        }
    }
}
