.serviceChild{
    margin-top: s(75);
    margin-bottom: s(57);

    &__inside{
        @include clearfix();
        //overflow: scroll;
    }

    &__content{
        margin-top: s(6);
        width: col(6,12);
        float: left;
        margin-left: colGut(1,2,12,0);
        @extend .body;
        @extend .body18;
        
        h2,
        .h2{
            font-family: dm, sans-serif;
            font-size: s(30);
            line-height: 1.3em;
            margin-bottom: s(30);

        }



        section{
            margin: s(80) 0;
        }
    }

    @media screen and (max-width: 800px) {
        &__content{
            width: col(7,12);
            margin-left: colGut(0.5, 1,12,0);
            float: right;
        }
    }

    @media screen and (max-width: 600px) {
        margin-top: s(64);
        &__content{
            margin-top: s(80);
            width: 100%;
            margin-left: 0;
        }
    }
}