$default-colors: (
    white: #fff,
    black: #000,
    dark: #131C23,
    sand: #faf5eb,
    orange: #FF542E,
    grey : #FEC5D4,
    yellow : #FFC833,
    blue: #784FE0,
    lightblue: #9BE8F2,
    pink : #FEC5D4
);