$base-font-stack: (
    body: (regular: (family: ('DM Sans;', sans-serif),
            weight: 400,
            style: normal),
        bold: (family: ('DM Sans;', sans-serif),
            weight: 700,
            style: normal)),

    cambon: (regular: (family: ('Cambon', sans-serif),
            weight: 400,
            style: normal),
    )
);